# Gradle files
.gradle/
build/

# Android Studio / IntelliJ IDEA
.idea/
.kotlin/
*.iml
*.ipr
*.iws

# Local configuration
local.properties
signing.properties

# Built outputs & reports
**/build/
**/captures/
**/release/

# Firebase/Google services secrets
google-services.json
**/google-services.json

# NDK / C++
.externalNativeBuild/
.cxx/
ndkBuild/

# OS-specific
.DS_Store
Thumbs.db

# IDE artifacts
.artifacts/
