<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2022 amoledwatchfaces™
  ~ support@amoledwatchfaces.com
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!-- FOR MOON / SUNRISE -->

    <uses-feature android:name="android.hardware.type.watch" />

    <queries>
        <package android:name="com.google.android.apps.walletnfcrel" />
        <package android:name="com.samsung.android.samsungpay.gear"/>
        <package android:name="com.google.android.wearable.assistant"/>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:localeConfig="@xml/locales_config"
        android:theme="@android:style/Theme.DeviceDefault"
        >
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name="com.weartools.weekdayutccomp.MainActivity"
            android:exported="true"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <receiver android:name=".DateAndBootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <service
            android:name="com.weartools.weekdayutccomp.complication.WeekOfYearComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_week"
            android:label="@string/week_complication_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="3600"/>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,RANGED_VALUE,LONG_TEXT" />
        </service>
        <service
            android:name="com.weartools.weekdayutccomp.complication.DateComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_date"
            android:label="@string/date_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="3600"/>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT" />
        </service>

        <service
            android:name="com.weartools.weekdayutccomp.complication.TimeComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_clock"
            android:label="@string/time_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="3600"/>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,RANGED_VALUE,LONG_TEXT" />
        </service>

        <service
            android:name="com.weartools.weekdayutccomp.complication.DayOfYearComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_day"
            android:label="@string/doy_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="3600"/>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,RANGED_VALUE,LONG_TEXT" />
        </service>
        <service
            android:name="com.weartools.weekdayutccomp.complication.WorldClock1ComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_utc"
            android:label="@string/wc_comp_name_1"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT" />
        </service>
        <service
            android:name="com.weartools.weekdayutccomp.complication.WorldClock2ComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_utc"
            android:label="@string/wc_comp_name_2"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT" />
        </service>

        <service
            android:name="com.weartools.weekdayutccomp.complication.SecondsComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_seconds"
            android:label="@string/sec_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT" />
        </service>
        <service
            android:name="com.weartools.weekdayutccomp.complication.PayComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_pay"
            android:label="@string/pay_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="ICON,SMALL_IMAGE" />
        </service>
        <service
            android:name="com.weartools.weekdayutccomp.complication.AlarmComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_alarm"
            android:label="@string/alarm_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="ICON,SMALL_IMAGE" />
        </service>
        <service
            android:name="com.weartools.weekdayutccomp.complication.AssistComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_assist"
            android:label="@string/assist_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="ICON,SMALL_IMAGE" />
        </service>
        <service
            android:name="com.weartools.weekdayutccomp.complication.LogoComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_wear_os_icon"
            android:label="@string/logo_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="ICON,SMALL_IMAGE" />
        </service>
        <service
            android:name="com.weartools.weekdayutccomp.complication.MoonPhaseComplicationService"
            android:exported="true"
            android:icon="@drawable/x_moon_new"
            android:label="@string/moon_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="2100"/>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT,ICON,SMALL_IMAGE,RANGED_VALUE" />
        </service>

        <service
            android:name="com.weartools.weekdayutccomp.complication.SunriseSunsetComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_sunrise_3"
            android:label="@string/sunrise_sunset_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="0"/>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT" />
        </service>

        <service
            android:name="com.weartools.weekdayutccomp.complication.SunriseSunsetRVComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_sunset_3"
            android:label="@string/sunrise_sunset_countdown_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="600"/>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="RANGED_VALUE,LONG_TEXT,SHORT_TEXT" />
        </service>

        <service
            android:name="com.weartools.weekdayutccomp.complication.BitcoinPriceComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_btc"
            android:label="@string/crypto_name_1"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="600"/>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,RANGED_VALUE" />
        </service>
        <service
            android:name="com.weartools.weekdayutccomp.complication.EthereumPriceComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_ethereum"
            android:label="@string/crypto_name_2"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="600"/>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,RANGED_VALUE" />
        </service>
        <receiver android:name=".complication.CryptoComplicationTapBroadcastReceiver" />

        <activity
            android:name=".FlashlightActivity"
            android:exported="true">
        </activity>

        <service
            android:name="com.weartools.weekdayutccomp.complication.FlashlightComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_flashlight"
            android:label="@string/flashlight_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="ICON,SMALL_IMAGE" />
        </service>

        <service
            android:name="com.weartools.weekdayutccomp.complication.CustomTextComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_custom_text"
            android:label="@string/custom_text_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="0"/>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT" />
        </service>
        <service
            android:name="com.weartools.weekdayutccomp.complication.DayAndWeekComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_day_week"
            android:label="@string/day_and_week_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="0"/>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT" />
        </service>
    </application>
</manifest>