<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2022 amoledwatchfaces™
  ~ support@amoledwatchfaces.com
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <uses-feature android:name="android.hardware.type.watch" />

    <queries>
        <package android:name="com.google.android.apps.walletnfcrel" />
        <package android:name="com.samsung.android.samsungpay.gear"/>
        <package android:name="com.google.android.wearable.assistant"/>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name="com.weartools.weekdayutccomp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.weartools.weekdayutccomp.WeekOfYearComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_week"
            android:label="@string/week_complication_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="3600"/>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,RANGED_VALUE,LONG_TEXT" />
        </service>
        <service
            android:name="com.weartools.weekdayutccomp.DateComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_date"
            android:label="@string/date_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="3600"/>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT" />
        </service>

        <service
            android:name="com.weartools.weekdayutccomp.TimeComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_clock"
            android:label="@string/time_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="3600"/>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,RANGED_VALUE,LONG_TEXT" />
        </service>

        <service
            android:name="com.weartools.weekdayutccomp.DayOfYearComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_day"
            android:label="@string/doy_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="3600"/>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,RANGED_VALUE,LONG_TEXT" />
        </service>
        <service
            android:name="com.weartools.weekdayutccomp.UTCComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_utc"
            android:label="@string/wc_comp_name_1"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT" />
        </service>
        <service
            android:name="com.weartools.weekdayutccomp.UTC2ComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_utc"
            android:label="@string/wc_comp_name_2"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT" />
        </service>

        <service
            android:name="com.weartools.weekdayutccomp.SecondsComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_seconds"
            android:label="@string/sec_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT" />
        </service>
        <service
            android:name="com.weartools.weekdayutccomp.PayComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_pay"
            android:label="@string/pay_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="ICON,SMALL_IMAGE" />
        </service>
        <service
            android:name="com.weartools.weekdayutccomp.AlarmComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_alarm"
            android:label="@string/alarm_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="ICON,SMALL_IMAGE" />
        </service>
        <service
            android:name="com.weartools.weekdayutccomp.AssistComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_assist"
            android:label="@string/assist_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="ICON,SMALL_IMAGE" />
        </service>
        <service
            android:name="com.weartools.weekdayutccomp.LogoComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_wear_os_icon"
            android:label="@string/logo_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="ICON,SMALL_IMAGE" />
        </service>
        <service
            android:name="com.weartools.weekdayutccomp.MoonPhaseComplicationService"
            android:exported="true"
            android:icon="@drawable/moon15"
            android:label="@string/moon_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="3600"/>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,ICON,SMALL_IMAGE,RANGED_VALUE" />
        </service>


        <activity
            android:name=".FlashlightActivity"
            android:exported="true">
        </activity>

        <service
            android:name="com.weartools.weekdayutccomp.FlashlightComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_flashlight"
            android:label="@string/flashlight_comp_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="ICON,SMALL_IMAGE" />
        </service>

    </application>
</manifest>